# Raw competition data
data/
*.zip

# Validation outputs
validation/predictions_cache/
validation/models_cache/
validation/runs/
validation/log.csv
validation/fold_assignments.csv

# Python
__pycache__/
*.pyc

# Editor
*.swp
*.swo

*_cache

feature_imp_aux.txt
feature_imp_primary.txt
feature_imp_y.txt
r2_aux.txt
r2_primary.txt
r2_y.txt
feature_stats.csv
